@model AspDotNetTest.Models.NhanVien
@using AspDotNetTest.Areas.Admin.Enum

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<script>
    $(function () {
        $("#dob").datepicker({
            dateFormat: 'dd/mm/yyyy'
        });
    });
</script>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left: 400px; margin-top: 50px">Add Employee</h1>

<form method="post" asp-area="admin" asp-controller="employee" asp-action="add" enctype="multipart/form-data">
    <table style="margin-left: 400px">
        <tr>
            <th>Username</th>
            <td>
                <input type="text" asp-for="Username"/>
            </td>
        </tr>
        <tr>
            <th>Password</th>
            <td>
                <input type="password" asp-for="Password" />
            </td>
        </tr>
        <tr>
            <th>Fullname</th>
            <td>
                <input type="text" asp-for="Hoten" />
            </td>
        </tr>
        <tr>
            <th>Date of birth</th>
            <td>
                <input asp-for="Ngaysinh" asp-format="{0:dd/MM/yyyy}" id="dob" />
            </td>
        </tr>
        <tr>
            <th>Active</th>
            <td>
                <input type="radio" asp-for="Kichhoat" value="true" checked/> True
                <input type="radio" asp-for="Kichhoat" value="false" /> False
            </td>
        </tr>
        <tr>
            <th>Images</th>
            <td>
                <input type="file" name="file" asp-for="Hinhanh" />
            </td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>
                <select asp-for="Quyen">
                    @foreach (var role in Enum.GetValues(typeof(Role)).Cast<Role>())
                    {
                        <option value="@((int)role)">@role</option>
                    }

                </select>
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
        <tr>
            <td>
                @ViewBag.Msg
            </td>
        </tr>

    </table>
</form>


