@model AspDotNetTest.Models.NhanVien
@using AspDotNetTest.Areas.Admin.Enum

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<script>
    $(function () {
        $("#dob").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left: 400px; margin-top: 50px">Add Employee</h1>

<form method="post" asp-area="admin" asp-controller="employee" asp-action="add" enctype="multipart/form-data">
    <table style="margin-left: 400px">
        <tr>
            <th style="padding-top: 20px">Username</th>
            <td style="padding-top: 20px; padding-left: 10px">
                <input type="text" asp-for="Username"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">Password</th>
            <td style="padding-top: 20px; padding-left: 10px">
                <input type="password" asp-for="Password" />
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">Fullname</th>
            <td style="padding-top: 20px; padding-left: 10px">
                <input type="text" asp-for="Hoten" />
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">Date of birth</th>
            <td style="padding-top: 20px; padding-left: 10px">
                <input asp-for="Ngaysinh" type="date" id="dob" />
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">Active</th>
            <td style="padding-top: 20px; padding-left: 10px">
                <input type="radio" asp-for="Kichhoat" value="true" checked/> True
                <input type="radio" asp-for="Kichhoat" value="false" /> False
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">Images</th>
            <td style="padding-top: 20px; padding-left: 10px">
                <input type="file" name="file" asp-for="Hinhanh" />
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">Roles</th>
            <td style="padding-top: 20px; padding-left: 10px">
                <select asp-for="Quyen">
                    @foreach (var role in Enum.GetValues(typeof(Role)).Cast<Role>())
                    {
                        if(role != Role.Admin)
                        {
                            <option value="@((int)role)">@role</option>
                        }
                    }

                </select>
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">&nbsp;</th>
            <td style="padding-top: 20px; padding-left: 10px">
                <button type="submit">Save</button>
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">&nbsp;</th>
            <td style="padding-top: 20px; padding-left: 10px">
                <span class="text-danger" style="font-size: 15px">
                    @ViewBag.Msg
                </span>
            </td>
        </tr>

    </table>
</form>


