@model AspDotNetTest.Models.NhanVien

@{
    Layout = "~/Areas/EmplSupport/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left: 300px; margin-top: 50px;">Profile</h1>
<form>
    <table style="margin-left: 300px; margin-top: 50px; width: 1420px; font-size: 20px">
        <tr>
            <th style="padding-right: 16px">Username</th>
            <td>
                
            </td>
        </tr>
        <tr>
            <th style="padding-right: 16px">Fullname</th>
            <td>
            </td>
        </tr>
        <tr>
            <th style="padding-right: 16px">Date of birth</th>
            <td>
            </td>
        </tr>
        <tr>
            <th style="padding-right: 16px">Active</th>
            <td>
            </td>
        </tr>
        <tr>
            <th style="padding-right: 16px">Image</th>
            <td>
            </td>
        </tr>
        <tr>
            <th style="padding-right: 16px">Role</th>
            <td>
            </td>
        </tr>
    </table>
</form>
