@model AspDotNetTest.Models.YeuCau
@using Microsoft.AspNetCore.Http;


@{
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left: 400px; margin-top: 50px">Add Request</h1>

<form method="post" asp-area="employee" asp-controller="requestemployee" asp-action="add" enctype="multipart/form-data">
    <table style="margin-left: 400px; font-size: 16px">
        <tr>
            <th style="padding-top: 20px">Title</th>
            <td style="padding-top: 20px; padding-left: 12px">
                <input type="text" asp-for="Tieude" />
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">Description</th>
            <td style="padding-top: 20px; padding-left: 12px">
                <input type="text" asp-for="Noidung" />
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">Sent Date</th>
            <td style="padding-top: 20px; padding-left: 12px">
                <input asp-for="Ngaygui" asp-format="{0:dd/mm/yyyy}" id="dob" />
            </td>
        </tr>
        <tr>
            <th style="padding-top: 20px">Priority</th>
            <td style="padding-top: 20px; padding-left: 12px">
                <select asp-for="Madouutien">
                    @foreach (var priority in ViewBag.priorities)
                    {
                        <option value="@priority.Madouutien">@priority.Tendouutien</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <input type="hidden" style="font-size: 16px" asp-for="ManvGui" value="@Context.Session.GetString("username")"></input>
        </tr>


        <tr>
            <th style="padding-top: 20px">&nbsp;</th>
            <td style="padding-top: 20px; padding-left: 12px">
                <button type="submit">Save</button>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 20px; padding-left: 12px">
                @ViewBag.Msg
            </td>
        </tr>

    </table>
</form>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<script>
    $(function () {
        $("#dob").datepicker({
            dateFormat: 'dd/mm/yyyy'
        });
    });
</script>